<html>
    <head>
        <style>
        footer{
            margin-top:100px;
            text-align: center;
        }    
        </style>
    </head>
</html>
<footer>
    <p>&copy ANNOINTED SYSTEMS</p>
</footer>