<html>
    <head>
        <style type="text/css">
           ul li{
               display: inline-block;
               padding:12px;
               border-radius:5px;
               margin-right:10px;
           }
           ul li a:hover{
              border-bottom: 1px solid rgb(219, 194, 54);
              color: rgb(212, 208, 208);
           }
            a{
                
                text-decoration:none;
            }
            nav{
                float:right;
                clear:both;
             
                margin-right:20px;
            }

        </style>
    </head>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/landvaluation">Land Value</a></li>
        <li><a href="/loanassessment">Loan Assessment</a></li>
        <li><a href="/about">About us</a></li>
    </ul>
</nav>
</html>