<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ettaka.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/about.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="whole">
    <% include ./partials/navbar.ejs %>
    <div class="center">
    <h1>About us</h1>
    <p>Based in Kampala,Uganda</p>
    </div>
    </div>
    </body>
<% include ./partials/footer.ejs %>
</html>