<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ettaka.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="./css/landvaluation.css" />
  <script src="main.js"></script>
</head>
<body>
  <div class="whole">
    <% include ./partials/navbar.ejs %>
  <div class="center">
  <form action="/landvaluation" method="post">
    <input name="compareSize" placeholder="Compare Plotsize (Acres)" type="number">
    <br/>
    <input name="comparePrice" placeholder="Compare Plotprice (USD)" type="number">
    <br/>
    <input name="subjectSize" placeholder="Subject Plotsize  (Acres)" type="number">
    <br/>
    <input type="submit">
  </form>
  <div class="results">
  <p>Market value</p>
  <p class="good"><%= marketValue %> US DOLLARS</p>
  <p>Forced sale value</p>
  <p class="bad"><%= forcedSaleValue %> US DOLLARS</p>
  </div>
    </div>
  </div>
  </body>
  <% include ./partials/footer.ejs %>
  
</html>