*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
.whole{
    margin-top:20px;
}
.center{
    padding-top: 30px;
    float:center;
    clear:both;
    margin-left:35%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    form {
      margin-left:-100px;
    }
    .results{
        margin-left:-100px;
    }
  }
input{
    width:250px;
    margin-top:10px;
    height:35px;
    border:1px solid grey;
    border-radius:5px;
}
.results{
    margin-top:20px;
}
.good{
    border-radius:5px;
    border:1px solid rgb(224, 193, 18);
    width:37%;
    margin-top:10px;
    padding:5px;
}
.bad{
    color:red;
    width:37%;
    margin-top:10px;
}